$color-primary: #FF9D80;
$text-color-primary: black;

$color-secondary: #58D68D;
$text-color-secondary: $text-color-primary;

$color-background: #8CCFFF;

$base-shadow-properties: rgba(0, 0, 0, 0.8) 0px 0px 4px;

// what kinds of mixins would be useful?:
@mixin rounding {
  border-radius: 6px
}

@mixin shadow {
  box-shadow: $base-shadow-properties
}

@mixin primary-box {
  @include shadow;

  color: $text-color-primary;
  background-color: $color-primary;
}

@mixin secondary-box {
  @include shadow;

  color: $text-color-secondary;
  background-color: $color-secondary;
}

@mixin vertically-center {
  display: flex;
  align-items: center;
}


body {
  background-color: $color-background;
  /* gradient styling: */
  background-image: linear-gradient($color-background, darken($color-background, 5%));
  background-attachment: fixed;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  color: $text-color-primary;
}