@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@mixin font-body {
    font-family: "Quicksand", sans-serif;
    font-weight: normal,
}

@mixin font-header {
    font-family: "Quicksand", sans-serif; 
    font-weight: 700;
}

body { @include font-body; }   

p { 
    @include font-body;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    @include font-header;
    margin: 0;
}