// Hind & Montserrat
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap');

@mixin hind {
    font-family: "Hind", sans-serif;
    font-weight: normal,
}

@mixin montserrat {
    font-family: "Montserrat", sans-serif; 
    font-weight: normal;
}