@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;900&display=swap" rel="stylesheet');

@mixin font-body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

@mixin font-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #4f2d03;

}

body { @include font-body; }   

p, h3, h4, h5, h6 { 
    @include font-body;
    font-family: 'Montserrat-Medium', sans-serif;
    margin: 0;

}

h1, h2 {
    @include font-header;
    margin: 0;
}