@use "base";

$footer-height: 70px;

.footer {
  @include base.primary-box;

  height: 100%;
  
  padding: 0 20px;
}

.footer .copyright {

  padding: 1em 0;
  display: inline-block;
  opacity: 50%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}