@use "base";
@use "pages";

$container-padding: 35px;

// id for container -- may cause confusion?
#header {
  height: 160px;
  width: 100%;

  box-sizing: border-box;

  padding-bottom: $container-padding;
}

.header-card {
  @include base.primary-box;

  box-sizing: border-box;
  
  padding: 10px;

  height: 100%;
}

.header-content {
  @include base.vertically-center;

  height: 60%;

  padding: 0 10px;
}

.header-content > .logo {
  margin-right: 10px;
  
  height: 100%;
  width: auto;
}

.navbar {
  display: flex;

  height: 40%;
}

// container itself (a ul, likely):
.navbar .links {
  flex: 4 1 auto;

  margin: 0;
  padding: 0;
  
  height: 100%;

  list-style-type: none;
}

.navbar .links li {
  @include base.vertically-center;
  
  float: left;

  margin-right: 10px;

  min-width: 60px;
  padding: 0 10px;

  height: 100%;

  border-radius: 4px;

  // animation:
  transition-duration: 0.1s;
}

.navbar .links li:hover {
  background-color: rgba(black, 10%);
  border-radius: 4px;
}

.navbar .links .active {
  background-color: rgba(black, 5%);
}

.navbar .current-user {
  flex: 1 1 auto;
}

// logo:
.logo {
  
}
