@use "base";
@use "pages";

$container-padding: 35px;

#navbar-container {
  height: 160px;
  width: 100%;

  box-sizing: border-box;

  padding: $container-padding pages.$page-horizontal-margin;
}

.navbar {
  @include base.primary-box;
  @include base.rounding;

  box-sizing: border-box;
  padding: 15px;

  height: 100%;
}

// logo:
.logo {
  
}

.navbar .links {

}