@use "base";
@use "page";

$container-padding: 35px;

#navbar-container {
  height: 160px;
  width: 100%;

  box-sizing: border-box;

  padding: $container-padding page.$page-horizontal-margin;
}

.navbar {
  @include base.primary-box;
  @include base.rounding;

  box-sizing: border-box;
  padding: 20px;

  height: 100%;
}

// logo:
.logo {
  
}

.navbar{
  text-align: center;
  padding: 15px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-decoration-line: blink;
}