@use "base";
@use "footer";

$page-horizontal-margin: 20%;

// flexbox to handle body content sizing:
.page-container {
  display: flex;
  flex-flow: column;

  min-height: 100vh;
}

// TODO: consider if these be classes or ids:
.page-container > .header {
  flex: 0 1 auto;
}

.page-container > .page-content {
  flex: 1 1 auto;

  margin: 0 $page-horizontal-margin;
}

.page-container > .footer {
  flex: 0 1 footer.$footer-height;
}
