@use "base";
@use "footer";

$page-horizontal-margin: 20%;

$page-content-margin: 20px;

// flexbox to handle body content sizing:
.page-container {
  display: flex;
  flex-flow: column;

  min-height: 100vh;
}

// TODO: consider if these be classes or ids:
.page-container #header {
  flex: 0 1 auto;
}

.page-container #content {
  flex: 1 1 auto;

  margin-bottom: 40px;

  margin-right: $page-horizontal-margin;
  margin-left: $page-horizontal-margin;
}

.page-container #footer {
  flex: 0 1 footer.$footer-height;
}

.page-card {
  @include base.secondary-box;
  @include base.rounding;

  box-sizing: border-box;
  padding: $page-content-margin;
  
  height: 100%;
}

// home page:
.home {
  height: 600px;

  
}