// temporary file; need to figure out where to properly place variables like
// this to avoid load conflicts

$color-primary: lightgreen;
$color-secondary: skyblue;

$base-shadow-properties: rgba(0, 0, 0, 0.8) 0px 0px 4px;
