html, body {
	height: 100%
}

body {
	margin: 0;
	padding: 0;
	
	font-family: sans-serif;
	
	background-color: skyblue;
	/* gradient styling: */
	background-image: linear-gradient(skyblue, deepskyblue);
	background-attachment: fixed;
}